a.footerhp{
	color: #9C9C9C !important;
  	text-decoration: none;
}
a.informationblog{
	text-decoration: none;
	color: #F97300;
}
.navbar-brand{
	font-size: 18pt !important;
}
.navbar-brand:hover{
	color: #F97300 !important; 
}
.nav-link{ 
	margin-right: 1em !important;
}
.navbar-collapse{ 
	justify-content: flex-end;
}
.bgformy{
	color: #fff !important;
	border-color: #F97300 !important; 
}
.bgformy:hover{
	color: #F97300 !important;
}
.btnformy{
	color: #fff !important;
	background-color: #F97300 !important;
	border-color: #F97300 !important;
}
.btnformy:hover{
	background-color: #fff !important;
	color: #F97300 !important;
}
footer{
	color: #9C9C9C;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about img{
 	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: center;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #F97300;
}
.about .desc h2{
 	color: #F97300;
}
.about .desc p{
	line-height:2;
	color:#888;
}
.blog{
	margin: 4em 0;
	position: relative; 
}
.blog h1{
	color:#F97300;
	margin: 2em; 
}
.blog .card{
 	box-shadow: 0 0 20px #ccc;
}
.blog .card img{
	width: 100%;
	height: 12em;
}
.blog .card-title{
 	color:#F97300;
}
.blog .card-body{
 	padding: 1em;
}
.contact-form{
	margin: 6em 0;
	position: relative;  
}
.contact-form h1{
	padding:2em 1px;
	color: #F97300; 
}
.contact-form .right{
 	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #F97300;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
 	color: #888;
 	font-size: 16px;
}
.shop{
 	margin: 4em 0;
    position: relative; 
}
.shop h1{
 	color:#F97300;
 	margin: 2em; 
}
.shop h5{
	color:#F97300; 
}
.shop img{
  	height: 15rem;
  	width: 100%;
  	margin-bottom: 1em;
}
.shop div a{
	text-decoration: none;
}
.shop p{
	float: left;
    margin: 7px 0 7px 7px;
}
form legend{
	color:#F97300;
}
.extra{
	margin: 0 auto;
	margin-bottom: 4em;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;    
}
table th{
	color:#F97300 !important; 
}
.viewport{
    width: 510px;
    height: 255px;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 510px;
    height: 255px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
.dot.active{
    background: #999;   
}
.dot.kill{
    display: none;
}
.arrows{
	font-size: 40px;
	text-decoration: none !important;
	color: #F97300 !important;
}
@media screen and (min-width: 1000px) {
  .viewport{
    width: 1020px;
    height: 255px;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 510px;
    height: 255px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
}